{% load static %}
<html>
    <header>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    </header>
    <body>
        <div class="content">
            <div class="head">
                {% load static %}
                <img class="head-image" src="{% static "media/welt.png" %}" alt="My image">            
                <h1>Eti's fantastic journey through colombia</h1>
            </div>
            <div class="band">    
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
